<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-red-600 ">401</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Unauthorized Access</p>
            <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Sorry, you are not allowed to access this page. You will need to login in our login page or register if you don't have any account. </p>
            <a routerLink="../login" class="inline-flex text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  my-4">Back to Login</a>
        </div>
    </div>
</section>